[submodule "modules/lemur"]
	path = modules/lemur
	url = https://github.com/CodeKingdomsTeam/lemur.git
[submodule "modules/Utils"]
	path = modules/Utils
	url = https://github.com/CodeKingdomsTeam/lua-utils
[submodule "modules/lua-fsm"]
	path = modules/lua-fsm
	url = https://github.com/unindented/lua-fsm
